:root {
    --bubble-scale-x: 2.5;
    --bubble-scale-y: 2.5;
    --bubble-translate-x: 10vw;
    --bubble-translate-y: 10vw;


}

@keyframes levitate{
    0%{transform: translateY(+5%);}
    100%{transform: translateY(-5%);} 
}

@keyframes zoom-from-left{
    0% {transform: translateX(-100vw);} 
    100%{transform: translateX(0vw);}
}
@keyframes zoom-to-right-disappear{
    0% {transform: translateX(0vw);} 
    99%{transform: translateX(+100vw);}
    100%{display:none;}
}

@keyframes collapse-out{
    0%{transform:scale(100%);}
    98%{transform:scaleY(0%);}
    100%{display:none;}
}

@keyframes shake-side-to-side{
    0% {transform: translateX(2%);} 
    25% {transform: translateX(-2%);} 
    50% {transform: translateX(2%);} 
    75% {transform: translateX(-2%);} 
    100% {transform: translateX(2%);} 
}

@keyframes rough-shake{
    0%{transform: translateX(-1%);}
    20%{transform: translateX(+1%);}
    40%{transform: translateX(-1%);}
    60%{transform: translateX(+1%);}
    80%{transform: translateX(-1%);}
    100%{transform: translateX(+1%);}

}

@keyframes expand-window{
    
    /* 100%{transform:scale(2); } */
    100%{transform: scale(var(--bubble-scale-x), var(--bubble-scale-y)) translate(var(--bubble-translate-x), var(--bubble-translate-y));}
    
}


.levitate-on-hover:hover, .levitate, footer a {
    &.short-delay-1{
        animation-delay: .25s;
    }
    &.short-delay-2{
        animation-delay: .50s;
    }
    &.short-delay-3{
        animation-delay: .75s;
    }
    &.short-delay-4{
        animation-delay: 1s;
    }
    &.short-delay-5{
        animation-delay: 1.25s;
    }

    animation-duration:1s ;
    animation-fill-mode: both;
    animation-direction:alternate;
    animation-iteration-count:infinite;
    animation-timing-function: ease-in-out;
    animation-name: levitate;
    
}
.fly-in-from-left {
    animation-duration:.5s ;
    animation-fill-mode: both;
    animation-name: zoom-from-left;
}
.collapse-out{
    animation-duration:.5s ;
    animation-fill-mode: both;
    animation-name: collapse-out;
}
.fly-out-to-right{
    animation-duration:.5s ;
    animation-fill-mode: both;
    animation-name: zoom-to-right-disappear;
}
.shake-sideways{
    animation-duration:.2s ;
    animation-fill-mode: both;
    animation-name: shake-side-to-side;
}

.expand-center{
    z-index: 1;
    animation-duration:1s;
    animation-fill-mode:both;
    animation-iteration-count: initial;
    animation-name: expand-window; 
}

.shake-hard{
    animation-name: rough-shake;
    animation-duration: .3s;
}