@webkit-keyframes levitate{
    0%{-webkit-transform: translateY(+5%);}
    100%{-webkit-transform: translateY(-5%);} 
}
@keyframes levitate{
    0%{transform: translateY(+5%);}
    100%{transform: translateY(-5%);} 
}
@webkit-keyframes zoom-from-left{
    0% {-webkit-transform: translateX(-100vw);} 
    100%{-webkit-tranform: translateX(0vw);}
}
@keyframes zoom-from-left{
    0% {transform: translateX(-100vw);} 
    100%{transform: translateX(0vw);}
}
@keyframes collapse-out{
    0%{transform:scale(100%);}
    98%{transform:scaleY(0%);}
    100%{display:none;}
}

@keyframes cycle-pics-1{
    0%{background-image: url("../images/Corner_Cafe/CSS-Cafe.png");}
    25%{background-image: url("../images/Corner_Cafe/CSS-Cafe.png");}
    50%{background-image: url("../images/Corner_Cafe/CSS-Cafe.png");}
    75%{background-image: url("../images/Corner_Cafe/CSS-Cafe.png");}
    100%{background-image: url("../images/Corner_Cafe/CSS-Cafe.png");}
}
@keyframes cycle-pics-2{
    0%{background-image: url("../images/Nucamp/nucamp1.png");}
    25%{background-image: url("../images/Nucamp/nucamp2.png");}
    50%{background-image: url("../images/Nucamp/nucamp3.png");}
    75%{background-image: url("../images/Nucamp/nucamp1.png");}
    100%{background-image: url("../images/Nucamp/nucamp2.png");}
}
@keyframes cycle-pics-3{
    0%{background-image: url("../images/Nucamp_aboutus.png");}
    25%{background-image: url("../images/Earth.jpg");}
    50%{background-image: url("../images/CSS-Cafe.png");}
    75%{background-image: url("../images/tree-by-Bessi-pixbay.jpg");}
    100%{background-image: url("../images/tree-by-Bessi-pixbay.jpg");}
}
@keyframes cycle-pics-4{
    0%{background-image: url("../images/Nucamp_aboutus.png");}
    25%{background-image: url("../images/Earth.jpg");}
    50%{background-image: url("../images/CSS-Cafe.png");}
    75%{background-image: url("../images/tree-by-Bessi-pixbay.jpg");}
    100%{background-image: url("../images/tree-by-Bessi-pixbay.jpg");}
}