:root {
    /* Variables are listed here for convenience. */
    --bg-color1: rgb(84, 2, 122);
    --bg-color2: rgb(131, 133, 44);
    --bg-color3: rgb(202, 96, 25);
    --bg-color4: rgb(109, 11, 104);
    --bg-color5: rgb(5, 128, 177);
    /*---------------------*/
    --blend-percent1: 15%;
    --blend-percent2: 40%;
    --blend-percent3: 55%;
    --blend-percent4: 80%;
    --blend-percent5: 90%;
    
    --global-font-color: rgba(255,255,255,1);
    --accent-color1: rgba(255, 208, 0,1);
    --accent-color2: rgba(255,0,0,1);
    --nav-link-color:rgba(255,200,100,1);
    --nav-hover-color:rgba(255,0,0,1);

    --logo-width:40px;
}

html{
    scroll-behavior: smooth;
}
body{
    /* text-align: center; */
    color: var(--global-font-color)
}

ul {
    list-style-type: none;
}
/* form {
    text-align: left;
}
footer{
    text-align: center;
} */

/* .keep-left{
    text-align: left;
}
.keep-center{
    text-align: center;
} */

.logo { 
    & svg{
        
        width:var(--logo-width);
    }
    & .svg-text-1{
        fill:deepskyblue;
        font-family:Courier New;
        font-size:30px;
        font-weight:bold
    }
    & .svg-text-2{
        fill:hotpink;
        font-family:Courier New;
        font-size:30px;
        font-weight:normal"
    }
    & circle {
        opacity:.6;
        fill:#000000;
        stroke:black;
        stroke-width:0px
    }
}
.transparent-box{
    /* display: inline-block; */
    background-color: rgba(0,0,0,.8);
    border-radius: 25px;
    margin: 1vw;
    padding: 1em;
    
}
.transparent-bar {
    background:linear-gradient(to bottom,rgba(0,0,0,.8),rgba(0,0,0,0)); 
    margin:0px;
    border: 1px;
    padding: 1px;
}
.transparent-bar-right {
    background:linear-gradient(to right top ,rgba(0,0,0,.8),rgba(0,0,0,.2), rgba(0,0,0,0),rgba(0,0,0,0)); 
    margin:0px;
    border: 1px;
    padding: 1px;
}
.transparent-bar-left {
    background:linear-gradient(to left top ,rgba(0,0,0,.8),rgba(0,0,0,.2), rgba(0,0,0,0),rgba(0,0,0,0)); 
    margin:0px;
    border: 1px;
    padding: 1px;
}
.transparent-bar-center {
    background:linear-gradient(to left top ,rgba(0,0,0,0),rgba(0,0,0,.1),rgba(0,0,0,.6),rgba(0,0,0,.1), rgba(0,0,0,0)); 
    margin:0px;
    border: 1px;
    padding: 1px;
}
.transparent-bar-nav {
    background: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,.8)); 
    margin:0px;
    border: 1px;
    padding: 1px;
}
.styled-hyperlink {
    & a{
        
        text-decoration: none;
        padding: 5px 1em;
        display:inline-block;
        color:var(--nav-link-color);
        &:hover, &:hover >*{
            transition: .5s;
            color:var(--nav-hover-color);
            transform: scale(1.25,1.25);
        }
        &:hover text{
            fill:var(--nav-hover-color);
        }
    }
}
.with-accent1{
    color: var(--accent-color1);
}
.with-accent2{
    color: var(--accent-color2);
}
.gradient-background{
    background: linear-gradient(
        to bottom,
        var(--bg-color1) var(--blend-percent1), 
        var(--bg-color2) var(--blend-percent2),
        var(--bg-color3) var(--blend-percent3),
        var(--bg-color4) var(--blend-percent4),
        var(--bg-color5) var(--blend-percent5)
        ) ; 
        
}

.levitate-on-hover:hover, .levitate, footer a {
    &.short-delay-1{
        animation-delay: .25s;
    }
    &.short-delay-2{
        animation-delay: .50s;
    }
    &.short-delay-3{
        animation-delay: .75s;
    }
    &.short-delay-4{
        animation-delay: 1s;
    }
    &.short-delay-5{
        animation-delay: 1.25s;
    }

    animation-duration:1s ;
    animation-fill-mode: both;
    animation-direction:alternate;
    animation-iteration-count:infinite;
    animation-timing-function: ease-in-out;
    animation-name: levitate;
    
}
.zoom-in-from-left {
    animation-duration:.5s ;
    animation-fill-mode: both;
    animation-name: zoom-from-left;
}
.picture-reel-1, .picture-reel-2, .picture-reel-3, .picture-reel-4{
    width: 100%;
    height:auto;
    padding-bottom:100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    &:hover{
        animation-duration:5s ;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
}
.picture-reel-1{
    background-image: url("../images/Corner_Cafe/CSS-Cafe.png");
    &:hover{
        animation-name: cycle-pics-1;
    }
}
.picture-reel-2{
    background-image: url("../images/Nucamp/nucamp1.png");
    &:hover{
        animation-name: cycle-pics-2;
    }
}
.picture-reel-3{
    background-image: url("../images/Nucamp/nucamp1.png");
    &:hover{
        animation-name: cycle-pics-3;
    }
}
.picture-reel-4{
    background-image: url("../images/Nucamp/nucamp1.png");
    &:hover{
        animation-name: cycle-pics-4;
    }
}


@webkit-keyframes levitate{
    0%{-webkit-transform: translateY(+5%);}
    100%{-webkit-transform: translateY(-5%);} 
}
@keyframes levitate{
    0%{transform: translateY(+5%);}
    100%{transform: translateY(-5%);} 
}
@webkit-keyframes zoom-from-left{
    0% {-webkit-transform: translateX(-100vw);} 
    100%{-webkit-tranform: translateX(0vw);}
}
@keyframes zoom-from-left{
    0% {transform: translateX(-100vw);} 
    100%{transform: translateX(0vw);}
}

@keyframes cycle-pics-1{
    0%{background-image: url("../images/Corner_Cafe/CSS-Cafe.png");}
    25%{background-image: url("../images/Corner_Cafe/CSS-Cafe.png");}
    50%{background-image: url("../images/Corner_Cafe/CSS-Cafe.png");}
    75%{background-image: url("../images/Corner_Cafe/CSS-Cafe.png");}
    100%{background-image: url("../images/Corner_Cafe/CSS-Cafe.png");}
}
@keyframes cycle-pics-2{
    0%{background-image: url("../images/Nucamp/nucamp1.png");}
    25%{background-image: url("../images/Nucamp/nucamp2.png");}
    50%{background-image: url("../images/Nucamp/nucamp3.png");}
    75%{background-image: url("../images/Nucamp/nucamp1.png");}
    100%{background-image: url("../images/Nucamp/nucamp2.png");}
}
@keyframes cycle-pics-3{
    0%{background-image: url("../images/Nucamp_aboutus.png");}
    25%{background-image: url("../images/Earth.jpg");}
    50%{background-image: url("../images/CSS-Cafe.png");}
    75%{background-image: url("../images/tree-by-Bessi-pixbay.jpg");}
    100%{background-image: url("../images/tree-by-Bessi-pixbay.jpg");}
}
@keyframes cycle-pics-4{
    0%{background-image: url("../images/Nucamp_aboutus.png");}
    25%{background-image: url("../images/Earth.jpg");}
    50%{background-image: url("../images/CSS-Cafe.png");}
    75%{background-image: url("../images/tree-by-Bessi-pixbay.jpg");}
    100%{background-image: url("../images/tree-by-Bessi-pixbay.jpg");}
}
