:root {
    /* Variables are listed here for convenience. */
    --bg-color1: rgb(84, 2, 122);
    --bg-color2: rgb(252, 252, 252);
    --bg-color3: rgb(202, 96, 25);
    --bg-color4: rgb(109, 11, 104);
    --bg-color5: rgb(5, 128, 177);
    /*---------------------*/
    --blend-percent1: 15%;
    --blend-percent2: 40%;
    --blend-percent3: 55%;
    --blend-percent4: 80%;
    --blend-percent5: 90%;
    
    --global-font-color: rgba(255,255,255,1);
    --accent-color1: rgba(255, 208, 0,1);
    --accent-color2: rgba(255,0,0,1);
    --nav-link-color:rgba(255,200,100,1);
    --nav-hover-color:rgba(255,0,0,1);

    --logo-width:80px;
}

body{
    text-align: center;
    color: var(--global-font-color)
}

ul {
    list-style-type: none;
}

footer{
    text-align: center;
}

a:has(.logo){ /*For some reason the anchor holding the logo kept extending the Navbar downward making it super wide. This is to forcefully control the height*/
    height: var(--logo-width);
}

.logo { /*A very long selector to overlay a circular SVG on top of a logo to give a mouseover higlight effect*/
   
    height:var(--logo-width);
    display:inline-block;

    & img{
        position:relative;
        width:var(--logo-width);
        opacity:.4;
    }

    & .color-mask {
        position:relative;
        opacity: 0.4;
        top: calc(var(--logo-width)*-1);

        & svg{
            height:var(--logo-width);
            width:var(--logo-width);
        }

        & circle {
            cx: calc(var(--logo-width)/2) ;
            cy: calc(var(--logo-width)/2);
            r: calc(var(--logo-width)/2);
            stroke:black;
            stroke-width:1;
            opacity:0;
           
            &:hover {
                opacity: 0.6;
                fill:var(--nav-hover-color);
            }
        }
    }
    & .over-text{
        position:absolute;
    }
}
.transparent-box{
    /* display: inline-block; */
    background-color: rgba(0,0,0,.8);
    border-radius: 25px;
    margin: 1vw;
    padding: 1em;
}
.transparent-bar {
    background:linear-gradient(to bottom,rgba(0,0,0,.8),rgba(0,0,0,0)); 
    margin:0px;
    border: 1px;
    padding: 1px;
}
.transparent-bar-nav {
    background: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,.8)); 
    margin:0px;
    border: 1px;
    padding: 1px;
}
.styled-hyperlink {
    & a{
        text-decoration: none;
        padding: 5px 1em;
        display:inline-block;
        color:var(--nav-link-color);
        &:hover{
            color:var(--nav-hover-color);
        }
    }
}
.with-accent1{
    color: var(--accent-color1);
}
.with-accent2{
    color: var(--accent-color2);
}
.gradient-background{
    background: linear-gradient(
        to bottom,
        var(--bg-color1) var(--blend-percent1), 
        var(--bg-color2) var(--blend-percent2),
        var(--bg-color3) var(--blend-percent3),
        var(--bg-color4) var(--blend-percent4),
        var(--bg-color5) var(--blend-percent5)
        ) ; 
        /* background-image: url("../images/Blue_background_Canva.png"); */
        
}

/*Experimental Code*/
