
body{
    text-align: center;
    background: rgb(42, 42, 243);
    background-image: url("../images/Blue_background_Canva.png");
    color:white;
}

ul {
    list-style-type: none;
}

footer{
    text-align: center;
}


.transparent-box{
    display: inline-block;
    background-color: rgba(0,0,0,.8);
    border-radius: 25px;
    margin: 1vw;
}
.transparent-bar {
    background-color: rgba(0,0,0,.8);
    margin:0px;
    border: 1px;
    padding: 1px;
}
